<ion-header>

  <ion-navbar>
    <ion-title>Insujet v0.1</ion-title>
    <ion-item *ngIf='!ble.enabled()'>
      <ion-icon name="warning" item-start></ion-icon>
      Bluetooth is off
      <button (click)='enableBluetooth()' ion-button round item-end>
        <ion-icon name="bluetooth" item-start></ion-icon>
        Turn on
      </button>
  </ion-item>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button (click)='connectTo(device)' ion-item *ngFor='let device of ble.getScanDevices()'>
      <h2>{{ device.name }}</h2>
      <p>{{ device.id }}</p>
      <button ion-button clear item-end>Rssi = {{ device.rssi }}</button>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <div style="text-align: center;">
  	<button (click)='scan()' *ngIf='!ble.connected()' [disabled]="!ble.enabled()" ion-button round>Scan</button>
  </div>
  </ion-toolbar>
</ion-footer>
